*.class
*.zip
*.jar
*.war
*.ear
*.log
*.pdf
*.DS_Store

/*cfg.properties
src/main/java/*cfg.properties
src/main/webapp/WEB-INF/classes/**
src/main/webapp/WEB-INF/lib/**
src/main/webapp/app/framework-logus-js/**
/target/
!src/main/webapp/WEB-INF/lib/ifx*.jar
/.settings/org.sonar.ide.eclipse.core.prefs

.settings
/.settings
.classpath
/.classpath
.project
/.project

node_modules/*
/node_modules/
node_modules/

node/*
/node/
node/

bin/*
/bin/
log/*
/log/
backuph2/*
/backuph2/
target/*
/target/

.directory
/null
/target/
/target/
